# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Redlib path exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ redlib_uid }}"
    group: "{{ redlib_gid }}"
  with_items:
    - "{{ redlib_base_path }}"

- name: Ensure Redlib support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ redlib_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ redlib_uid }}"
    group: "{{ redlib_gid }}"
  with_items:
    - env
    - labels
  register: redlib_support_files_result

- name: Run if self-building of Redlib container image is not enabled
  when: "not redlib_container_image_self_build | bool"
  block:
    - name: Ensure Redlib container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ redlib_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ redlib_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else redlib_container_image_force_pull }}"
      register: redlib_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: redlib_container_image_pull_result is not failed

    - name: Ensure Redlib container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ redlib_container_image }}"
      register: redlib_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: redlib_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in redlib_container_image_pull_result.stdout"

- name: Run if self-building of Redlib container image is enabled
  when: "redlib_container_image_self_build | bool"
  block:
    - name: Ensure Redlib repository is present on self-build
      ansible.builtin.git:
        repo: "{{ redlib_container_image_self_build_repo }}"
        version: "{{ redlib_container_image_self_build_repo_version }}"
        dest: "{{ redlib_container_image_self_build_src_files_path }}"
        force: "yes"
      register: redlib_git_pull_results

    - name: Ensure Redlib container image is built
      community.docker.docker_image:
        name: "{{ redlib_container_image_self_build_name }}"
        source: build
        force_source: "{{ redlib_git_pull_results.changed if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else redlib_git_pull_results.changed }}"
        build:
          dockerfile: Dockerfile.alpine
          path: "{{ redlib_container_image_self_build_src_files_path }}"
          pull: true
          args:
      register: redlib_container_image_build_result

- name: Ensure Redlib container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ redlib_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: redlib_network_creation_result

- name: Ensure Redlib container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ redlib_container_network }}
  register: redlib_network_creation_result
  changed_when: redlib_network_creation_result.rc == 0
  failed_when: redlib_network_creation_result.rc != 0 and 'already exists' not in redlib_network_creation_result.stderr

- name: Ensure Redlib systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/redlib.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ redlib_identifier }}.service"
    mode: "0644"
  register: redlib_systemd_service_result

- name: Determine whether Redlib needs a restart
  ansible.builtin.set_fact:
    redlib_restart_necessary: >-
      {{
        redlib_support_files_result.changed | default(false)
        or redlib_systemd_service_result.changed | default(false)
        or redlib_container_image_pull_result.changed | default(false)
        or redlib_container_image_build_result.changed | default(false)
      }}
