# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Redlib systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ redlib_identifier }}.service"
  register: redlib_service_stat

- name: Uninstall Redlib systemd services and files
  when: redlib_service_stat.stat.exists | bool
  block:
    - name: Ensure Redlib systemd service is stopped
      ansible.builtin.service:
        name: "{{ redlib_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Redlib systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ redlib_identifier }}.service"
        state: absent

    - name: Ensure Redlib container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ redlib_container_network }}"
        state: absent
      register: redlib_network_deletion_result

    - name: Ensure Redlib container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ redlib_container_network }}
      register: redlib_network_deletion_result
      changed_when: redlib_container_network in redlib_network_deletion_result.stdout

    - name: Ensure Redlib path does not exist
      ansible.builtin.file:
        path: "{{ redlib_base_path }}"
        state: absent
